@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.navigation-pane {
  min-height: 100vh;
  /* background-color: #d68006; */
}

.nav-title {
  width: 100%;
  display: flex;
  color: #eee;
}

.nav-title > * {
  margin: 0em auto 2em auto;
  font-weight: 800;
}

.logo-container {
  margin-bottom: 2em;
  display: flex;
}

.logo-container > * {
  width: 50%;
}

.logo {
  display: flex;
  width: 70%;
  margin: 2em auto 2em auto;
  align-content: center;
}

.content-container {
  padding: 4em;
}

h4 {
  color: #999;
  font-style: italic;
}

.header {
  padding: 0;
  height: auto;
}

.header-container {
  margin-bottom: 2em;
}

.uploader {
  max-height: 200px;
  margin-bottom: 2em;
}

.uploader-container {
  display: flex;
  flex-direction: column;
}

.uploader-container > .submit-button {
  margin-left: auto;
}

.example-container {
  margin-bottom: 1em;
}

.positive {
  font-weight: 700;
  color: #cc3333;
}

.negative {
  color: #33cc33;
}
