@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 
@dark-gray: #58595b;
@light-gray: #858585;
@chula-pink: #de5c8e;
@chula-pink-hover: #f8e1ea; */

* {
  font-family: 'Poppins', sans-serif;
}

/* Quick Overridding Antd theme */

a {
  color: #de5c8e !important;
}

.ant-menu-dark,
.header {
  background-color: #de5c8e !important;
}

.ant-menu-item-selected {
  background-color: #cf4b7d !important;
}

.ant-btn-default {
  border-color: #de5c8e;
  color: #de5c8e;
  /* background-color: #de5c8e !important; */
}

.ant-btn-default:hover {
  border-color: #f0518d;
  color: #f0518d;
}

.ant-upload:hover {
  border-color: #f0518d !important;
}

.ant-pagination-item-active,
.ant-pagination-item:hover,
.ant-pagination-next:hover:not(.ant-pagination-disabled) > *,
.ant-pagination-prev:hover:not(.ant-pagination-disabled) > * {
  border-color: #de5c8e !important;
  color: #de5c8e !important;
}

.ant-pagination-item-active > a,
.ant-pagination-item > a:hover,
.ant-pagination-item-ellipsis,
.anticon-double-right,
.ant-pagination-next:hover,
.ant-pagination-prev:hover {
  color: #de5c8e !important;
}

.navigation-pane {
  min-height: 100vh;
  background-color: #de5c8e !important;
}

.nav-title {
  width: 100%;
  display: flex;
  color: #eee;
}

.nav-title > * {
  margin: 0em auto 2em auto;
  font-weight: 800;
}

.logo-container {
  margin-bottom: 2em;
  display: flex;
}

.logo-container > *:first-child {
  width: 25%;
}

.logo-container > *:nth-child(2) {
  width: 40%;
}

.logo-container > *:last-child {
  width: 25%;
}

.logo {
  display: flex;
  width: 70%;
  margin: 2em 0.5em 2em 0.5em;
  align-content: center;
}

.logo-container > *:not(:first-child) > .logo {
  margin: auto;
  padding-right: 0.5em;
  width: 100%;
}

.content-container {
  padding: 4em;
}

h4 {
  color: #999;
  font-style: italic;
}

.header {
  padding: 0;
  height: auto;
}

.header-container {
  margin-bottom: 2em;
}

.uploader {
  max-height: 200px;
  margin-bottom: 2em;
}

.uploader-container {
  display: flex;
  flex-direction: column;
}

.uploader-container > .submit-button {
  margin-left: auto;
}

.example-container {
  margin-bottom: 1em;
}

.positive {
  font-weight: 700;
  color: #cc3333;
}

.negative {
  color: #33cc33;
}
